{% extends 'base.html' %}

{% block content %}
<div class="search-container">
    <h1 class="text-white text-center shadow">Search Already Verified News</h1>
    <form class="w-50" action="{% url 'loading_view' %}" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter news headline or URL" name="verifyNew">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>
{% endblock content %}
